.about {
  position: relative;
  color: #fff;
  margin: 10rem auto;

  h1 {
    text-align: center;
    margin-bottom: 5rem;
  }

  ul li {
    list-style: none;
    font-size: 2rem;
    margin: 5rem;
    padding: 0 0 0 10rem;
    display: inline-flex;
    align-items: center;

    .icon {
      width: 5rem;
      height: 5rem;
      padding-right: 1rem;
      * {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}
