.advert {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .need-auth {
    background-color: #fff;
    width: 500px;
    padding: 40px;
    text-align: center;
    font-size: 16px;

    position: absolute;
    top: 100%;
    transform: translateY(150%);

  }

  .advert-form {
    width: 50%;
    margin: 10rem auto;
  }

  .advert-header {
    height: 45px;
    background: white;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      display: block;
      height: 12px;
      width: 12px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2);
      &.is-active {
        background: #ff5200;
      }
    }
  }

  .advert-body {
    padding: 5rem;
    box-shadow: 0 50px 30px -30px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    transform-origin: top left;
    background-color: #fff;
  }

  fieldset {
    display: none;
    &.show {
      display: block;
    }
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    color: #ff5200;
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 1px;
  }

  .description {
    text-align: center;
    color: #666;
    margin-bottom: 3rem;
  }

  .button {
    padding: 1rem 2rem;
    border-radius: 3px;
    background: #ff5200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 3rem 3rem 0;
  }

  .advert-progress-bar {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    z-index: 1;

    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 11px;
      width: 33.33%;
      float: left;
      position: relative;
      text-align: center;

      &.active:before, &.active:after {
        background: #ff5200;
        color: white;
      }
      &:before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        line-height: 40px;
        display: block;
        font-size: 20px;
        color: #333;
        background: white;
        border-radius: 100%;
        margin: 0 auto 5px auto;
      }
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 19px;
        z-index: -1; /*put it behind the numbers*/
      }
      &:first-child:after {
        content: none;
      }
    }
  }
}

.react-transitions-top {
  z-index: 99 !important;
}

.moveToLeftEasing {
  animation: moveToLeft .7s ease both;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.moveFromRight {
  animation: moveFromRight .6s ease-in-out both;
  z-index: 1;
}

@keyframes moveFromRight {
  from { transform: translateX(100%) scale(.8); }
  to { opacity: 1; }
}

@keyframes moveToLeft {
  from { opacity: 1; }
  to { opacity: 0; transform: translateX(-100%) scale(.8); }
}

//to right

.moveFromLeftEasing {
  animation: moveFromLeft .7s ease-in-out both;
  z-index: 1;
}

.moveToRight {
  animation: moveToRight .6s ease-out both;


  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

@keyframes moveFromLeft {
  from { opacity: 0; transform: translateX(-100%) scale(.8); }
  to { opacity: 1;  }
}

@keyframes moveToRight {
  to { transform: translateX(100%) scale(.8); opacity: 0;}
}
