.cta{
  color: #fff;
  flex: 1 1;
  //width: $screen-md-max;
  text-align: center;
  //margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 50rem;
  justify-content: center;
  background: #efefef url(images/sail-bg.jpg) no-repeat center;
  background-size: cover;

  @media (max-width: $screen-md-max) {
    width: 100%;
  }

  h1{
    font-size: 4em;
    font-weight: 700;
    //text-transform: uppercase;
  }

  h2{
    font-weight: 100;
    margin: 0 0 3.5rem;
  }
}


.landing-row {
  position: relative;
  height: 35rem;
}

.welcome-promo {
  color: #fff;
  font-weight: 600;
  background: #efefef url(images/oborudovanie.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .welcome-promo-content {
    text-align: center;

    h2, p {
      margin: auto;
    }

    h2 {
      margin: 1rem 0;
      text-transform: uppercase;
    }

    .btn {
      margin: 2.5rem auto;
      width: 12rem;
    }
  }

  h2 {
    font-weight: 700;
  }
}

.categories-list {
  position: relative;
  padding: 4rem 8rem 8rem;
  background-color: #f3eeee;
  text-align: center;

  h3 {
    position: relative;
    color: #797982;
    margin: 0 0 2rem;
    font-size: 2.7rem;
    font-weight: 600;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;

    .item {
      width: calc(100%/4 - 2rem);
      height: 0;
      margin: 2rem 2rem 0 0;
      padding-bottom: calc(25% - 2rem);
      background-color: #ffecec;
      transition: box-shadow 150ms linear;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
      border-radius: 2px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: cover;

      .item-bg {
        background: rgba(18, 41, 49, 0.67);
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 100%;
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #f8f8f8;
        padding: 2rem;
        font-size: 2rem;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
      &:hover {
        box-shadow: 0 3px 9px rgba(0,0,0,.28);
      }
    }
  }

  @media (max-width: 680px) {
    h3 {
      margin: 0 0 4rem 0;
    }

    .items {
      flex-direction: column;

      .item {
        width: auto;
        margin: 0;
        height: 15rem;
        padding: 0;
        background-attachment: fixed;
        &:not(:last-child) {
          border-bottom: 2px solid rgba(220, 220, 220, 0.52);
        }

        .item-bg {
          padding: 0;
        }
      }
    }
  }
}