@import url(https://fonts.googleapis.com/css?family=Amatic+SC:300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400italic,600,700);

body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #fff;

  .landing-page,  .accounts-page{
    display: flex;
    flex-direction: column;
    .hero {
      background-color: #352e2e;
      background-size: cover;
      position: fixed;
      top: 0;
      bottom:0;
      left: 0;
      right:0;
      &:before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(44, 51, 64, 0.7);
      }
    }
  }
}

p {
  font-size: 1.6rem;
}
