.accounts-page {
  display: flex;
  flex-direction: column;
  header {
    flex: 0 0 100px;
  }
  .accounts-content {
    //background-color: #f6f6f6;
    flex: 1 1;
    h1 {

      font-size: 50px;
      font-weight: 300;
      font-family: 'Amatic SC', cursive;
      color: #fff;
      text-align: center;
      position: relative;
      margin: 30px 0px 0px;
    }
    h2 {
      font-size: 18px;
      font-weight: 100;
      color: #fff;
      text-align: center;
      position: relative;
      margin: 5px;
      margin-bottom: 50px;
    }
    & > div {

      position: relative;
      //top: -200px;
    }
  }
  .sign-in-form {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    //min-height: 400px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    input {
      width: 100%;
      padding: 10px 0px;
      font-size: 18px;
      margin-bottom: 30px;
      border: 0;
      border-bottom: 2px solid #ccc;
      transition: border 300ms ease-in;
      border-radius: 0;
      outline: none;
      &.error {
        margin-bottom: 10px;
        & + .error {
          padding-bottom: 20px;
          display: block;
          color: rgba(255, 112, 42, 0.82);
        }
      }
      &:active, &:focus {
        outline: none;
        border-bottom: 2px solid $accent-color;
      }
      &.btn {
        transition: all 300ms ease-in;
        background-color: $accent-color;
        border-radius: 3px;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }
    }
    button.btn {
      transition: all 300ms ease-in;
      padding: 10px 0px;
      background-color: $accent-color2;
      border-radius: 3px;
      font-size: 18px;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      margin-top: 30px;
      position: relative;
      .fa {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 40px;
        line-height: 100%;
        border-right: 1px solid rgba(255, 255, 255, 1);
        background-color: darken($accent-color2, 10%);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &:before {
          top: 14px;
          left: 1px;
          position: relative;
        }
      }
      &:hover {
        background-color: darken($accent-color2, 10%);
      }
    }
    button.btn-primary{
      margin-bottom: 0;
      margin-top:5px;
      background-color: $accent-color;
      &:hover {
        background-color: darken($accent-color, 10%);
      }
      .fa{
        background-color: darken($accent-color, 10%);
      }
    }
    .or {
      margin: 0px -50px;
      margin-bottom: 0px;
      margin-top: 30px;
      padding: 0 5px;
      position: relative;
      top: -9px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      span {
        font-weight: bold;
        color: #ccc;
        background-color: #fff;
        padding: 0px 30px;
        position: relative;
        top: 9px;
      }
    }
    .alert {
      margin: -50px;
      margin-bottom: 30px;
      border-radius: 0px;
      position: relative;
      border: 0px;
      text-align: center;
      color: darken($accent-color, 25%);
      background-color: lighten($accent-color, 25%);

      &.alert-appear {
        opacity: 0;
        transition: all 100ms ease-out;
        transform: scale(0.1);
      }
      &.alert-appear-active {
        opacity: 1;
        transform: scale(1);

      }
    }
  }
}