
.pl-c /* comment */
{
    color: #969896;
}

.pl-c1 /* constant, markup.raw, meta.diff.header, meta.module-reference, meta.property-name, support, support.constant, support.variable, variable.other.constant */,
.pl-s .pl-v /* string variable */
{
    color: #0086b3;
}

.pl-e /* entity */,
.pl-en /* entity.name */
{
    color: #795da3;
}

.pl-s .pl-s1 /* string source */,
.pl-smi /* storage.modifier.import, storage.modifier.package, storage.type.java, variable.other, variable.parameter.function */
{
    color: #333;
}

.pl-ent /* entity.name.tag */
{
    color: #63a35c;
}

.pl-k /* keyword, storage, storage.type */
{
    color: #a71d5d;
}

.pl-pds /* punctuation.definition.string, string.regexp.character-class */,
.pl-s /* string */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */
{
    color: #183691;
}

.pl-v /* variable */
{
    color: #ed6a43;
}

.pl-id /* invalid.deprecated */
{
    color: #b52a1d;
}

.pl-ii /* invalid.illegal */
{
    background-color: #b52a1d;
    color: #f8f8f8;
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */
{
    color: #63a35c;
    font-weight: bold;
}

.pl-ml /* markup.list */
{
    color: #693a17;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */
{
    color: #1d3e81;
    font-weight: bold;
}

.pl-mq /* markup.quote */
{
    color: #008080;
}

.pl-mi /* markup.italic */
{
    color: #333;
    font-style: italic;
}

.pl-mb /* markup.bold */
{
    color: #333;
    font-weight: bold;
}

.pl-md /* markup.deleted, meta.diff.header.from-file */
{
    background-color: #ffecec;
    color: #bd2c00;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file */
{
    background-color: #eaffea;
    color: #55a532;
}

.pl-mdr /* meta.diff.range */
{
    color: #795da3;
    font-weight: bold;
}

.pl-mo /* meta.output */
{
    color: #1d3e81;
}

body {
    padding: 0;
    margin: 0;
}


section {
    .btn {
        display: inline-block;
        margin-bottom: 1rem;
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.08);
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
        border-radius: 0.3rem;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    }

    .btn + .btn {
        margin-left: 1rem;
    }

    .btn:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.3);
    }
}


@media screen and (min-width: 64em) {
    section {
        .btn {
            padding: 0.75rem 1rem;
        }
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    section {
        .btn {
            padding: 0.6rem 0.9rem;
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 42em) {
    section {
        .btn {
            display: block;
            width: 100%;
            padding: 0.75rem;
            font-size: 0.9rem;
        }

        .btn + .btn {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

@media screen and (min-width: 64em) {
    .main-content {
        /*max-width: 64rem;*/
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}