.with-bg {
  .bg {
    content: "";
    position:absolute;
    background: rgba(18, 41, 49, 0.67);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  *:not(.bg) {
    z-index: 1;
  }
}

.text-center {
  text-align: center;
}
